<table border="1">
  <tr>
    <th>ID</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Phone</th>
    <th>User Type</th>
  </tr>
  <% @datas.each do |data| %>
  <tr>
    <td><%= data.id %></td>
    <td><%= data.profile.last_name %></td>
    <td><%= data.profile.first_name %></td>
    <td><%= data.email %></td>
    <td><%= data.profile.gender ? 'Male' : 'Female' %></td>
    <td><%= data.profile.age %></td>
    <td><%= data.profile.phone %></td>
    <td><%= data.group.name %></td>
  </tr>
  <% end %>
</table>
