<table border="1">
  <tr>
    <th><%=t('export_subscriptions.id')%></th>
    <th><%=t('export_subscriptions.customer')%></th>
    <th><%=t('export_subscriptions.email')%></th>
    <th><%=t('export_subscriptions.subscription')%></th>
    <th><%=t('export_subscriptions.period')%></th>
    <th><%=t('export_subscriptions.start_date')%></th>
    <th><%=t('export_subscriptions.expiration_date')%></th>
    <th><%=t('export_subscriptions.amount')%></th>
    <th><%=t('export_subscriptions.payment_method')%></th>
  </tr>
  <% @datas.each do |data| %>
  <tr>
    <td><%= data.user.id %></td>
    <td><%= data.user.profile.full_name %></td>
    <td><%= data.user.email %></td>
    <td><%= data.plan.human_readable_name(group: true) %></td>
    <td><%= t("duration.#{data.plan.interval}", count: data.plan.interval_count) %></td>
    <td><%= data.created_at %></td>
    <td><%= data.expired_at %></td>
    <td><%= number_to_currency(data.plan.amount / 100) %></td>
    <td><%= (data.stp_subscription_id.nil?)? t('export_subscriptions.local_payment') : t('export_subscriptions.online_payment') %></td>
  </tr>
  <% end %>
</table>
