<div class="row">
  <div class="col-md-6">
    <%= devise_error_messages! %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:novalidate => ''}) do |f| %>

      <% resource.build_profile if resource.profile.nil? %>

        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

      <%= f.fields_for :profile do |p| %>
        <div class="form-group">
          <%= p.label :phone %>
          <%= p.text_field :phone, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :gender %>
          <div class="radio">
            <label>
              <%= p.radio_button :gender, true %> Homme
            </label>
          </div>
          <div class="radio">
            <label>
              <%= p.radio_button :gender, false %> Femme
            </label>
          </div>
        </div>

        <div class="form-group">
          <%= p.label :last_name %>
          <%= p.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :first_name %>
          <%= p.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :birthday %>
          <%= p.date_field :birthday, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :interest %>
          <%= p.text_area :interest, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= p.label :software_mastered %>
          <%= p.text_area :software_mastered, class: 'form-control' %>
        </div>
      <% end %>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="checkbox">
          <label>
            <%= f.check_box :is_allow_contact %> J'autorise les utilisateurs du Fab Lab inscrits sur le site à me contacter
          </label>
        </div>

        <div class="checkbox">
          <label>
            <%= f.check_box :cgu %> J'accepte et J'ai Lu la charte d'utilisation du Fab Lab
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
    <% end %>
  </div>
</div>
