<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p>
  <%= t('.body.user_proof_of_identity_files_refusal') %>
</p>
<ul>
  <% @attached_object.proof_of_identity_types.each do |type| %>
    <li><%= type.name %></li>
  <% end %>
</ul>
<p>
  <%= @attached_object.message %>
</p>
<p>
  <%= t('.body.action') %>
</p>
