<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t('.body.the_member') %> <%= @attached_object.user.profile.full_name %> <%= t(".body.accepted_your_invitation_to_take_part_in_the_project" ) %> <strong><em><%= link_to @attached_object.project.name, "#{root_url}#!/projects/#{@attached_object.project.slug}" %></em></strong>.</p>
