<%= render 'notifications_mailer/shared/hello', recipient: @recipient %>

<p><%= t('.body.your_plan') %> <strong><em><%= @attached_object.plan.human_readable_name %></em></strong> <%= t('.body.has_been_extended') %> <%= "#{@notification.get_meta_data(:free_days) ? t('.body.free')+' ' : ''}" %><%= t('.body.until') %> <%= l @attached_object.expired_at.to_date %>.</p>
